<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>

<%= image_tag("ruby.gif") %>

<div id="demo"></div>

<%= link_to "load something", "#", :id => "ajax-load" %>

<div id="content"></div>

<script>
  $("#ajax-load").on("click", function(e){
    $.ajax({
      url:"/something",
      success: function(data){
        $("#content").html(data)
      }
    })
  });
</script>