<h1>Hello, World!</h1>




<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/v/<%= "jXdZlbH_ut8"%>&autoplay=1&controls=0&showinfo=0&modestbranding=1&disablekb=1" frameborder="0" allowfullscreen></iframe>

<!-- YouTube使用iFrame嵌入Web pages，可設定參數參考https://developers.google.com/youtube/player_parameters -->




<iframe width="480" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=alphacamp&z=18&output=embed></iframe>

<!-- Google Map使用iFrame嵌入Web pages，可設定參數參考https://developers.google.com/maps/documentation/embed/guide?hl=zh-tw -->

<audio autoplay loop controls>
  <source src="<%=http://pool.f13.mymedia.yam.com/mediacenter/26c881627dff745d7c9eb21131281a91/57901080/upload2/new/0/e/9/0e900dfa75d6bfd0a55a55d0b7437425.mp3 %>" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<!-- 主要會用的參數就是autoplay，loop和controls，再依據需求設定 -->

<button onclick="notifyMe()">Notify me!</button>

<script>
function notifyMe() {
  // Let's check if the browser supports notifications
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  }

  // Let's check whether notification permissions have already been granted
  else if (Notification.permission === "granted") {
    // If it's okay let's create a notification
    var notification = new Notification("Hi there!");
  }

  // Otherwise, we need to ask the user for permission
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      // If the user accepts, let's create a notification
      if (permission === "granted") {
        var notification = new Notification("Hi there!");
      }
    });
  }

  // At last, if the user has denied notifications, and you
  // want to be respectful there is no need to bother them any more.
}
</script>